<launch>
  <node pkg="apriltag_ros"
        type="apriltag_ros_continuous_node"
        name="apriltag_ros"
        output="screen"
        clear_params="true">

    <remap from="image_rect" to="/camera/color/image_raw"/>
    <remap from="camera_info" to="/camera/color/camera_info"/>

    <rosparam command="load"
              file="$(find cube_pose_estimator)/config/settings.yaml" />
    <rosparam command="load"
              file="$(find cube_pose_estimator)/config/tags.yaml" />
  </node>
</launch>