<launch>
  <node pkg="cube_pose_estimator"
        type="snapshot_capture_node_cameras.py"
        name="snapshot_capture_node"
        output="screen">
    <param name="output_root" value="$(find cube_pose_estimator)/apriltag_snapshots" />
    <param name="auto_capture_rate" value="0.0"/>  <!-- 1 Hz -->
  </node>
</launch>